/*  WELCOME  */
.custom_homepage .ps-home-wellcome {
  position: relative;
  z-index: 20;
  top: -80px;
  margin-bottom: -80px;
  padding: 195px 0 100px;
  background-color: #f6ffe6; }
  .custom_homepage .ps-home-wellcome .ps-section__header {
    padding-bottom: 85px; }
    .custom_homepage .ps-home-wellcome .ps-section__header i {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 25px;
      line-height: 1em; }
    .custom_homepage .ps-home-wellcome .ps-section__header h5 {
      color: #555555;
      font-size: 22px; }
  .custom_homepage .ps-home-wellcome .ps-block--iconbox h4 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #000;
    font-size: 30px; }
  @media (max-width: 991px) {
    .custom_homepage .ps-home-wellcome {
      padding: 60px 0; }
      .custom_homepage .ps-home-wellcome .ps-section__header {
        padding-bottom: 50px; } }
  @media (max-width: 767px) {
    .custom_homepage .ps-home-wellcome .ps-section__header h5 {
      font-size: 16px; }
      .custom_homepage .ps-home-wellcome .ps-section__header h5 br {
        display: none; } }
  @media (max-width: 479px) {
    .custom_homepage .ps-home-wellcome {
      padding: 50px 0; } }



/*  PRODUCT   */
.custom_homepage .ps-home-menu-of-day {
  display: block;
  padding: 120px 0 100px;
  background-color: transparent; }
  .custom_homepage .ps-home-menu-of-day .ps-section__header h3 {
    color: #000; }
  .custom_homepage .ps-home-menu-of-day .ps-block--product-menu .ps-block__header {
    border-top: 1px dashed #e7c8a6;
    border-bottom: 1px dashed #e7c8a6; }
  .custom_homepage .ps-home-menu-of-day .ps-block--product-menu .ps-tab-list li a {
    color: #ce873a; }
  .custom_homepage .ps-home-menu-of-day .ps-block--product-menu .ps-tab-list li.active a {
    color: #000000; }
  @media (max-width: 1199px) {
    .custom_homepage .ps-home-menu-of-day {
      padding: 90px 0 80px; } }

  

/* ABOUT US */
.custom_homepage .ps-home-awards {
  position: relative;
  padding-top: 150px;

  margin-bottom: -40px;
  z-index: -1; }




  /* abouts */
  .custom_homepage .ps-home-about {
    top: -40px;
    position: relative;
    background-color: #f6ffe6; }
    .custom_homepage .ps-home-about:before {
      content: '';
      position: absolute;
      top: -28px;
      left: 0;
      width: 100%;
      height: 30px;
      z-index: 10;
      /* background-image: url(../img/bg/home-3/banner-bg.png); */
      background-image: url(../img/bg/home-3/banner-bg.png);
      background-repeat: repeat-x; }
    .custom_homepage .ps-home-about .ps-section__header {
      padding-top: 60px;
      padding-bottom: 30px; }
      custom_homepage .ps-home-about .ps-section__header h3 {
        margin-bottom: 0; }
    .custom_homepage .ps-home-about .ps-section__footer {
      margin-top: 60px;
      padding: 60px 0 0;
      border-top: 1px solid #eadbb2; }
    @media (max-width: 991px) {
      .custom_homepage .ps-home-about .ps-block--iconbox {
        margin: 0 auto 30px;
        max-width: 450px; } }
    @media (max-width: 767px) {
      .custom_homepage .ps-home-about .ps-section__image {
        padding-top: 30px; }
      .custom_homepage .ps-home-about .ps-section__header {
        padding-top: 0; } }
  


        .custom_homepage .ps-home-testimonials {
          position: relative;
          padding: 240px 0 160px;
          z-index: 10; }
          .custom_homepage .ps-home-testimonials:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1; }
          .custom_homepage .ps-home-testimonials .owl-slider {
            max-width: 600px;
            margin: 0 auto; }
            .custom_homepage .ps-home-testimonials .owl-slider .owl-dots .owl-dot {
              background-color: #fff; }
              .custom_homepage .ps-home-testimonials .owl-slider .owl-dots .owl-dot.active {
                background-color: #ce873a; }
          .custom_homepage .ps-home-testimonials .ps-block--testimonial .ps-block__content p {
            color: #ffffff;
            font-size: 24px; }
          @media (max-width: 767px) {
            .custom_homepage .ps-home-testimonials {
              padding: 150px 0; }
              .custom_homepage .ps-home-testimonials .ps-block--testimonial .ps-block__content p {
                color: #ffffff;
                font-size: 16px; } }



#custom_about_us{
  padding-top: 100px;
}
#custom_about_us p{
  font-size: 1.5em;
  color: rgba(9, 9, 31, 0.459);
  font-weight: bold;
}