{% load static %}
<footer   class="ps-footer">
    <div class="ps-footer__content">
      <div class="container">
        <div class="ps-footer__left">
          <form class="ps-form--footer-subscribe" action="#" method="get">
            <h3>Get news & offer</h3>
            <p>Sign up for our mailing list to get latest update and offers</p>
            <div class="form-group--inside">
              <input class="form-control" type="text" placeholder="Your email...">
              <button><i class="fa fa-arrow-right"></i></button>
            </div>
            <p>* Don't worry, we never spam</p>
          </form>
        </div>
        <div class="ps-footer__center">
          <div class="ps-site-info"><a class="ps-logo" href="{% url 'home' %}"><img src="{% static 'app/img/logo.png' %}" alt=""></a>
            <p>004 Riley Street, Surry Hills 2050 Sydney, Australia</p>
            <p>Email:<a href="#"> <span class="__cf_email__" data-cfemail="cca5a2aaa38ca2a3b9b8a4a9a1a9bfe2afa3a1">[email&#160;protected]</span></a></p>
            <p>Phone:<span class="ps-hightlight"> +455 45 454555</span></p>
          </div>
        </div>
        <div class="ps-footer__right">
          <aside class="widget widget_footer">
            <h3 class="widget-title">Opening Time</h3>
            <p>Monday - Friday:  <span>08:00 am - 08:30 pm</span></p>
            <p>Saturday - Sunday:  <span>10:00 am - 16:30 pm</span></p>
            <ul class="ps-list--payment-method">
              <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
    <div class="ps-footer__bottom">
      <div class="container">
        <ul class="ps-list--social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        <p><a href="" target="_blank"> Mohacodes </a></p>
      </div>
    </div>
</footer>