{% load static %}
<header class="header header--default header--home-4 white" data-sticky="true">
    <div class="header__left">
      <ul class="ps-list--social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="header__center">
      <nav class="header__navigation left">
        <ul class="menu">
          <li><a href="/"> Home </a>  </li>
          <li> <a href="{% url 'about' %}"> About </a> </li>
          
        </ul>
      </nav>
      <div class="header__logo"><a class="ps-logo" href="{% url 'home' %}"><img src="{% static 'app/img/logo.png' %}" alt=""></a></div>
      <nav class="header__navigation right">
        <ul class="menu">
          <li> <a> Blog </a> </li>
          <li> <a href="{% url 'contact' %}"> Contact Us </a> </li>
          
        </ul>
      </nav>
    </div>
    
    {% include '../snippets/cart.html' %}
</header>