<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
      <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
      <ul class="menu--mobile">
        <li class="current-menu-item menu-item-has-children"><a href="index-2.html">hmeemmem</a><span class="sub-toggle"></span>
          <ul class="sub-menu">
            <li><a href="index-2.html">Homepage 1</a>
            </li>
            <li><a href="homepage-2.html">Homepage 2</a>
            </li>
            <li><a href="homepage-3.html">Homepage 3</a>
            </li>
            <li><a href="homepage-4.html">Homepage 4</a>
            </li>
            <li><a href="homepage-5.html">Homepage 5</a>
            </li>
            <li><a href="homepage-6.html">Homepage 6</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="shop-default.html">Shop</a><span class="sub-toggle"></span>
          <ul class="sub-menu">
            <li><a href="shop-default.html">Shop Default</a>
            </li>
            <li><a href="shop-fullwidth.html">Shop Fullwidth</a>
            </li>
            <li><a href="shop-fullwidth-no-sidebar.html">Shop Fullwidth No Sidebar</a>
            </li>
            <li><a href="shop-no-sidebar.html">Shop No Sidebar</a>
            </li>
            <li><a href="shop-sidebar-right.html">Shop Sidebar Right</a>
            </li>
            <li><a href="shop-horizontal.html">Shop Horizontal</a>
            </li>
            <li class="menu-item-has-children"><a href="product-default.html">Product</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
              <ul class="sub-menu">
                <li><a href="product-default.html">Product Default</a>
                </li>
                <li><a href="product-background.html">Product Background</a>
                </li>
                <li><a href="product-background-center.html">Product Background Center</a>
                </li>
                <li><a href="product-background-center-2.html">Product Background Center 2</a>
                </li>
                <li><a href="product-sticky.html">Product Sticky</a>
                </li>
                <li><a href="product-thumbnail-left.html">Product Thumbnail Left</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="about-us.html">About</a>
        </li>
        <li class="current-menu-item menu-item-has-children"><a href="about-us.html">Pages</a><span class="sub-toggle"></span>
          <ul class="sub-menu">
            <li><a href="about-us.html">About</a>
            </li>
            <li><a href="homepage-2.html">Checkout</a>
            </li>
            <li><a href="whishlist.html">Whishlist</a>
            </li>
            <li><a href="homepage-4.html">Compare</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="blog-grid.html">News</a><span class="sub-toggle"></span>
          <ul class="sub-menu">
            <li><a href="blog-grid.html">Blog grid</a>
            </li>
            <li><a href="blog-grid-full-width.html">Blog grid fullwidth</a>
            </li>
            <li><a href="blog-list.html">Blog List</a>
            </li>
            <li><a href="blog-detail.html">Blog Detail</a>
            </li>
          </ul>
        </li>
        <li><a href="contact-us.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>