{% load static %}
<div class="ps-section ps-home-wellcome bg--top" data-background="{% static 'app/img/bg/home-5/home-wellcome.png' %}">
    <div class="container">
      <div class="ps-section__header">
        <p>WELCOME TO THE STORE</p>
        <h3>Delicious Means chikery</h3><i class="chikery-tt2"></i>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <br> sed vel nulla non neque dictum imperdiet.</h5>
      </div>
      <div class="ps-section__footer">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
            <div class="ps-block--iconbox"><img src="{% static 'app/img/homepage/home-5/category-1.png' %}" alt="">
              <h4>Simple Crusty Bread</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, mollis felis vel, viverra metus.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
            <div class="ps-block--iconbox"><img src="{% static 'app/img/homepage/home-5/category-2.png' %}" alt="">
              <h4>Big Size Cream Cake</h4>
              <p>Sit amet cursus nisl aliquam. Aliquam eu nunc rhoncus viverra quis at felis. Lorem ipsum dolor sit amet  ante commodo tristique.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
            <div class="ps-block--iconbox"><img src="{% static 'app/img/homepage/home-5/category-3.png' %}" alt="">
              <h4>Delicious Chikery</h4>
              <p>Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>