{% extends 'frontend/base.html' %}

{% block menu %} {% include '../snippets/menu2.html' %} {% endblock %}
{% block page %}
{% load static %}
<div class="custom_homepage" id="homepage-3">
  <div class="ps-hero bg--cover" data-background="{% static 'app/img/hero/shop-hero.png' %}">
      <div class="ps-hero__container">
        <div class="ps-breadcrumb">
          <ul class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li>About Us</li>
          </ul>
        </div>
        <h1 class="ps-hero__heading">Confirmation  Order</h1>
      </div>
  </div>

  <div class="container-fluid">
    <div class="container">
        <h2 class="my-5 text-success"> Your order has been succesfully placed </h2>
        
    </div>
  </div>


</div>



{% endblock %}
{% block footer %}
{% include '../snippets/footer.html' %}
{% endblock %}